.general {
    padding: 72px 0 32px;
    .image {
        width: 100%;
        margin-bottom: 24px;
        height: 360px;
        border-radius: 16px;
        @media screen and (max-width:768px) {
            height: fit-content;
        }
        
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: cover;
        }
    }
    .data-general {
        text-align: center;
        // font-weight: bold;
        color: #000;
        @media screen and (max-width:768px) {
            
            text-align: left;
        }
        .col-md-4{
            @media screen and (max-width:768px) {
                margin-bottom: 8px;
            }
        }
        .font-title {
            font-size: 1.3rem;
            color: $merah;
            @media screen and (max-width:768px) {
                margin-bottom: 0px;
            }
        }
    }
    a {
        color: $merah;
    }
    
    .cardx {
        position: relative;
        /* border: 1px solid; */
        box-shadow: 2px 3px 16px #bbb;
        padding: 16px;
        border-radius: 16px;
        background: linear-gradient(to bottom, white 50%, #ececec);
        margin-bottom: 16px;
        .tags {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: .8rem;
            padding: 2px 4px;
            color: #fff;
            border-radius: 8px;
            &.red {
                background: $merah;
            }
            &.yellowgreen {
                background: yellowgreen;
            }
        }
        .images {
            width: 100%;
            height: 240px;
            @media screen and (max-width:768px) {
                height: 150px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .nama {
            font-weight: bold;
        }
        .harga {
            font-size: 1.2rem;
            @media screen and (max-width:768px) {
                font-size: 1rem;
            }            
        }

    }
}
